/*
based on PlusUltra, with Adwaita
lightblue #62a0ea
solidblue #1c71d8
extralightgreen #8ff0a4
lightgreen #57e389
green #2ec27e
yightyellow #f8e45c
yellow #f5c211
extralightred #f66151
lightred #ed333b
red #c01c28
extralightpurple #dc8add
lightpurple #c061cb
purple #813d9c
darkgrey #241f31
midgrey #3d3846
 */

* {
	border: none;
	border-radius: 0;
	font-family: Nerd Font Hack;
	font-size: 12px;
	min-height: 12px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces {
	margin-top: 8px;
	margin-bottom: 0;
	margin-left: 10px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 12px;
	background: #1e1e1e;
	transition: none;
}

#workspaces button {
	transition: none;
	color: #f8f8f2;
	background: transparent;
}

#workspaces button.focused {
	color: #9aedfe;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ff79c6;
}

#window {
	font-weight: bold;
	margin-top: 8px;
	margin-bottom: 0;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 12px;
	background: #1e1e1e;
	transition: none;
}

window#waybar.empty #window {
	background: transparent;
}

/*window#waybar.termite #window,
window#waybar.Firefox #window,
window#waybar.Navigator #window,
window#waybar.PCSX2 #window {
    color: #000000;
	background: #e6e6e6;
}
*/

/* Colored widgets */

#mpd,
#pulseaudio,
#network,
#cpu,
#memory,
#clock,
#power-profiles-daemon,
#custom-power {
	margin-top: 8px;
	margin-bottom: 0;
	margin-left: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 12px;
	transition: none;	
}

#mpd {
	background: #f8e45c;
	color: #000000;
}

#mpd.disconnected,
#mpd.stopped {
	color: #f8f8f2;
	background: #282a36;
}

#pulseaudio {
	color: #000000;
	background: #8ff0a4;
}

#network {
	color: #000000;
	background: #33d17a;
}

#cpu {
	color: #000000;
	background: #ffa348;
}

#memory {
	color: #000000;
	background: #f66151;
}

#clock {
	font-weight: bold;
	color: #f8f8f2;
	background: #1e1e1e;
}

#power-profiles-daemon {
	color: #000000;
}

#power-profiles-daemon.performance {
  background-color: #c061cb;
}

#power-profiles-daemon.balanced {
  background-color: #f5c211;
}

#power-profiles-daemon.power-saver {
  background-color: #26a269;
}

#bluetooth {
	color: #000000;
	background: #62a0ea;
}

#temperature {
	color: #000000;
	background: #5af78e;
}

#idle_inhibitor {
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
}

#tray {
	margin-top: 8px;
	margin-left: 4px;
	margin-right: 4px;
}

/*Last widget - extra margin right*/

#custom-power{
	font-weight: bold;
	margin-right: 10px;
	padding-right: 4px;
	color: #f8f8f2;
	background: #1e1e1e;
}
